.alertContainer {
	position: fixed;
	top: 4rem;
	right: 2rem;
	display: inline-block;
	color: white;
	z-index: 200;

	.alert {
		padding: 0.8rem;
		margin: 1rem 0;
		opacity: 0.9;
		background-color: #f4f4f4;
		color: #333;
	}

	.alert.danger {
		background-color: #dc3545;
		color: #fff;
	}

	.alert.success {
		background-color: #28a745;
		color: #fff;
	}
}
